<div class= "container">
  <div class="row justify-content-center mt-5">
    <div class= "h1">
      <h1>コメント一覧</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
     <table style="width: 100%;">
       <thead class="thead" style="background-color: #EEE8AA;">
        <th style="width: 30%">タイプ</th>
        <th style="width: 30%">タイトル</th>
        <th style="width: 40%">コメント</th>
       </thead>
       <tbody>
      <% @comments.each do |comment| %>
        <tr>
         <td style="width: 30%"><%= comment.review.review_type %></td>
         <td style="width: 30%"><%= link_to comment.review.title, admin_review_path(comment.review) %></td>
         <td style="width: 40%">
            <div>
               <%= comment.content %>
            </div>
         </td>
        </tr>
       <% end %>
      </tbody>
     </table>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-2">
       <%= link_to "戻る", admin_user_path(@user), class: "btn btn-secondary btn-block" %>
    </div>
</div>
