
</head>
  <div class="bg-image">
    <div class="top-title">
      <h1>わんわんナビにようこそ！</h1>
      <p>犬と楽しめる情報が満載！<br>犬と一緒に楽しむ場所を探そう</p>
      <div class="registration-link mt-5">
        <h4><strong>新規登録はこちらから</strong></h4>
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary mr-3" %>
      </div>
    </div>
  </div>