<div class= "container">
  <div class="row justify-content-center mt-5">
    <div class= "h1">
      <h1>レビュー一覧</h1>
    </div>
    <div class="col-md-1 offset-4">
      <%= link_to new_admin_review_path, class: "btn btn-lg" do %>
       <i class="fa-solid fa-plus"></i>
      <% end %>
    </div>
    <div class="row justify-content-center mt-5">
        <% @reviews.each do |review| %>
          <li><%= review.title %></li>
        <% end %>
    </div>


  </div>
</div>





