@use '~bootstrap/scss/bootstrap';
@use 'home_users';
@use 'homes';
@use 'dog_runs';
@use 'dog_cafes';
@use 'dog_hotels';
@use 'dog_events';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'pugno';
  src: url('../fonts/pugnomincho-mini.otf');
}

.nav-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.nav-title {
  font-family: "pugno";
  font-size: 70px;
  color: #EEE8AA;
}

.nav-link {
  color: #EEE8AA;
}

.h1 {
  color: #663300;
}


.p {
  color: #663300;
   font-weight: bold;
}

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}

.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}

.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}